*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --green: hsl(93, 38%, 50%);
  --purple: hsl(252, 31%, 52%);
  --gray: hsl(20, 12%, 34%);
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 6%, 13%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  /* font-size: clamp(0.5rem, 2.5vmin, 1.5rem); */
}

.title {
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: var(--green);
}

.logo.w {
  transform: rotateZ(-15deg) translateY(10%);
}

.logo.o {
  transform: translateY(10%);
}

.logo.r {
  transform: rotateZ(10deg);
  color: var(--purple);
}

.logo.d {
  transform: rotateZ(-5deg);
}

.logo.l {
  transform: rotateZ(-10deg) translateY(10%);
}

.logo.e {
  transform: rotateZ(10deg) translateY(5%);
}

.guess-board {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-rows: repeat(6, 3em);
  grid-template-columns: repeat(5, 3em);
  margin-bottom: 1em;
  margin-top: 0.5em;
  gap: 0.3em;
}

.letter {
  font-size: 1.8em;
  border: 0.05em solid hsl(240, 2%, 23%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.letter[data-state="active"] {
  border-color: hsl(200, 1%, 34%);
}

.letter[data-state="wrong"] {
  border: none;
  background-color: var(--gray);
}

.letter[data-state="wrong-location"] {
  border: none;
  background-color: var(--purple);
}

.letter[data-state="correct"] {
  border: none;
  background-color: var(--green);
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.key-row {
  display: flex;
  gap: 0.3em;
  margin-bottom: 0.3em;
}

.key {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  width: 2em;
  height: 2em;
  background-color: hsl(
    var(--hue, 200),
    var(--sat, 1%),
    calc(var(--light-offset, 0%) + var(--light, 51%))
  );
  color: white;
  border: none;
  border-radius: 0.4em;
  transition: 100ms;
}

.key:hover,
.key:focus {
  --light-offset: 10%;
}

.key.large {
  width: 4em;
}

.key[data-enter] {
  --hue: 210;
  --sat: 75%;
  --light: 30%;
}

.key[data-delete] {
  --hue: 351;
  --sat: 94%;
  --light: 45%;
}

.key.wrong {
  --light: 23%;
}

.key.wrong-location {
  --hue: 252;
  --sat: 31%;
  --light: 52%;
}

.key.correct {
  --hue: 93;
  --sat: 38%;
  --light: 50%;
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  pointer-events: none;
  background-color: hsl(204, 7%, 85%);
  padding: 0.5em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert.hide {
  opacity: 0;
}

.scoreboard {
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  position: fixed;
  top: 20vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1;
}

.scoreboard.hide {
  display: none;
}

.bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25em;
}

.tag .number {
  font-weight: bold;
  font-size: 1.5em;
}

.tag p {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.next-btn {
  font-size: 1.1em;
  padding: 0.8em;
  text-transform: uppercase;
  border-radius: 0.4em;
  border: solid 1px var(--green);
  background-color: var(--green);
  color: white;
  font-weight: bold;
  margin-top: 1em;
  transition: 200ms;
}

.next-btn:hover {
  box-shadow: 0 0.5em 0.5em -0.3em var(--green);
  background-color: white;
  border-color: var(--green);
  color: var(--green);
  transform: translateY(-0.25em);
}
