* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Global styles  */
.hide {
  display: none !important;
}

.hover-red:hover {
  color: crimson;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* main section  */
main {
  margin-top: 3em;
  margin-left: 12em;
  background-color: white;
  position: relative;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(100vw - 12em);
  height: 3em;
  position: fixed;
  top: 0;
  left: 12em;
  background-color: crimson;
  box-shadow: 0 0.1px 10px rgba(20, 19, 19, 0.367);
  z-index: 10;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-bottom: solid 1px white;
}

.search-box ::placeholder {
  color: white;
}

.search-box input {
  background-color: crimson;
  border: none;
  font-size: 1.3em;
}

.search-box button {
  border: none;
  background-color: crimson;
  font-size: 1.3em;
}

.search-box button:hover {
  background-color: lightcoral;
}

.menu-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 20em;
  gap: 1em;
}

.menu-container li {
  height: 100%;
  width: 3em;
  text-align: center;
}

.menu-container a {
  text-decoration: none;
  padding: 0.2em;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
}

.menu-container li:hover {
  background-color: lightcoral;
  font-size: larger;
}

.toggle-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.8em;
  align-items: center;
  gap: 0.2em;
  align-items: center;
  border-radius: 0.4em;
  margin: 0.5em;
  height: 90%;
  margin-left: -1em;
}

.toggle-btn span {
  width: 2em;
  height: 1em;
  background-color: white;
  border-radius: 999px;
}

.active-toggle {
  background-color: white;
}

.active-toggle span {
  background-color: crimson;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 2em;
}

.tab-container li {
  list-style: none;
  height: 100%;
}

.tab-container a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em;
  color: crimson;
  transition: color 150ms;
}

.tab-container a:hover {
  background-color: lightcoral;
  color: white;
}

.active-tab {
  border-bottom: solid 3px crimson;
  font-weight: bold;
}

.video-section {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  background-color: #fff;
  flex-wrap: wrap;
}

.section-title {
  padding: 0 0 1em 1em;
  width: 100%;
  border-bottom: solid 1px;
}

.video-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
  background-color: white;
}

.video-name {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  transition: color 200ms;
}

.channel-name {
  text-decoration: none;
  color: #999;
  transition: color 200ms;
}

.profile-pic {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 2em;
  border-radius: 50%;
  display: inline-block;
  background-color: deepskyblue;
  border: solid 3px black;
}

.detail-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 0.5em;
}

.profile-pic:hover {
  box-shadow: 2px 3px 10px #aaa;
  border-color: white;
}

.small-profile {
  width: 50px;
  height: 50px;
  font-size: 1.8em;
}

.video-detail {
  font-size: 0.8em;
}

.thumbnail {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.thumbnail-img {
  width: 100%;
  border: solid 0.5px;
  border-radius: 0.4em;
  min-width: 250px;
}

.thumbnail-img:hover {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.546);
}

.thumbnail::before {
  content: attr(data-duration);
  background-color: rgba(20, 19, 19, 0.367);
  color: white;
  padding: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 0.4em;
}

/* Sidebar Styles  */
.side-bar {
  width: 12em;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(28, 26, 26);
  /* box-shadow: 5px 0 10px rgba(20, 19, 19, 0.367); */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

/* .logo {
  width: 40px;
  height: 34px;
  margin-left: 0.3em;
/* } */

.youtube {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  color: white;
}

.tag {
  padding: 0 0.3em 0 0.3em;
  border-radius: 0.4em;
}

.red {
  background-color: crimson;
  color: white;
}

.white {
  background-color: white;
  color: crimson;
}

.side-menu-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
}

.side-menu-container hr {
  width: 80%;
  background-color: white;
}

.side-menu-container li {
  list-style: none;
  padding: 0.5em 1em;
  width: 100%;
}

.side-menu-container a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  display: block;
}

.side-menu-container li:hover {
  background-color: crimson;
  font-weight: bold;
}

/* ------------------ */
/* Video Player Page  */
.player-nav {
  left: 0;
  width: 100%;
}

.player-container {
  margin-top: 3em;
  display: flex;
}

.video-player {
  padding: 1em;
  background-color: white;
  font-size: 1.2em;
}

.video-player hr {
  background-color: crimson;
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1em;
}

.feedback-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  margin: 0;
  padding: 0;
}

.feedback-btn-container li {
  list-style: none;
  width: 100%;
  padding: 0.3em 0.5em;
  border: solid 1px crimson;
  border-radius: 0.4em;
}

.feedback-btn-container a {
  text-decoration: none;
  font-weight: bold;
}

.feedback-btn-container li:hover {
  background-color: lightcoral;
}

.sub-btn {
  float: right;
  padding: 0.3em 1em;
  border-radius: 999em;
  background-color: crimson;
  border-color: crimson;
  color: white;
  font-size: 1.3em;
}

.sub-btn:hover {
  background-color: white;
  color: crimson;
}

.video-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em 0.5em;
  border-left: solid 1px crimson;
  color: black;
  /* overflow-y: scroll; */
}

.next-video {
  padding: 1em 0.5em;
  display: flex;
  gap: 0.5em;
}

.next-thumbnail {
  width: 50%;
  position: relative;
}

.next-thumbnail img {
  width: 100%;
  height: 100%;
}

.next-thumbnail img:hover {
  box-shadow: 2px 5px 10px rgba(54, 52, 52, 0.609);
}

.next-thumbnail::before {
  content: attr(data-duration);
  background-color: rgba(20, 19, 19, 0.8);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}
